body {
    background-color: whitesmoke;
    padding-top: 35px;
}

.calculator {
    text-align: center;
    margin: 0 auto;
    width: 400px;
    box-shadow: 2px 5px 2px 5px #6ca2b3;
}

.calculator-screen {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100px;
    background-color: #3b3b3b;
    color: #fff;
    text-align: right;
    font-size: 36px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
}

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
}

button {
    font-family: 'Courier New', Courier, monospace;
    height: 80px;
    background-color: rgb(70, 106, 109);
    border: 8px solid #d1e7eb;
    font-size: 32px;
    color: white;
    width: 25%;
    outline: none;
}

.zero-btn {
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
}

.operator, .equal-sign {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fbb158;
}

button:hover {
    background-color: rgb(11, 53, 53);
}

.operator:hover, .equal-sign:hover {
    background-color: rgb(154, 95, 24);
}
